<div class="nav" style="display: flex">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/gamepad" routerLinkActive="active">Gamepad</a>
  <a routerLink="/voice" routerLinkActive="active">Voice</a>
  <a routerLink="/manual" routerLinkActive="active">Manual</a>
</div>


<router-outlet></router-outlet>







<div style="position: absolute; bottom: 0; height: 200px;left:0;right:0;background: #ff7f00">
  <div class="info">
    <br>
    Pitch: {{pitch}}
    <br>
    Roll: {{roll}}
    <br>
    Distance: {{distance}}
  </div>

  <a (click)="connect()">Connect</a>
  Connected?  {{connected}}

</div>
